<footer class="text-center text-sm text-gray-600 py-6">
    ©
    {{ 'now'|date('Y') }}
    {{ app_name }} CRM — Gessa Fabrice alias <a href="https://github.com/flex-57" class="text-blue-600">flex-57</a> — Tous droits reservés.
</footer>
