{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }} :: Critères
{% endblock %}

{% block body %}
	<h1 class="text-3xl font-bold mb-6">Critères</h1>
	{% if criteres is empty %}
		<div class="p-6 bg-yellow-50 border border-yellow-200 rounded-lg text-yellow-700">
			<p class="text-center">Aucun domaine trouvé.</p>
		</div>
	{% else %}
		<div class="grid gap-3 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
			{% for c in criteres %}
				{% set card_params = {
                    link: path('critere_show', {'id': c.id}),
                    title: c.nom,
                    description: c.description|length > 80 ? c.description|slice(0, 80) ~ '...' : c.description,
                    details: [
                        {'key':'Métiers', 'value': c.metiers|length},
                        {'key':'Ateliers', 'value': c.ateliers|length},
                    ],
                    color: '#b89c00',
                } %}
				{% include '_includes/_card.html.twig' with card_params %}
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}
