<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
		<title>
			{% block title %}
				{{ app_name }}
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
			<script src="https://cdn.tailwindcss.com"></script>
			<script src="https://kit.fontawesome.com/228967fa11.js" crossorigin="anonymous"></script>
		{% endblock %}
	</head>

	<body class="text-gray-900 dark:text-gray-100 dark:bg-gray-900 transition-colors">
        {% include '_includes/_nav.html.twig' %}

        {% if app.request.attributes.get('_route') not in ['app_login', ] %}
    		{% include '_includes/_recherche.html.twig' %}
        {% endif %}

		<main class="container mx-auto mt-8 px-4">
			{% block body %}{% endblock %}
		</main>

        {% include '_includes/_footer.html.twig' %}
	</body>
</html>
